.language-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.language-content p {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1%;
}

.language-content h2 {
    text-align: left;
}

.language-content img {
    width: 25%;
}

.language-content p img {
    image-rendering: optimizeQuality;
    transition: 0.3s;
    cursor: pointer;
    width: 10%;
}

.language-content p img:hover {
    transform: scale(1.1);
}

@media (max-width: 799px)
{
    .language-content {
        width: 75%;
        padding-top: 3vh;
        padding-inline: 12.5%;
        font-size: 0.8em;
    }

    .language-content p, .language-content h2, .language-content h3 {
        width: 100%;
    }

    .language-content h2 {
        padding-top: 4%;
    }
}

@media (min-width: 800px)
{
    .language-content {
        width: 90%;
        padding-top: 3vh;
        padding-inline: 5%;
    }

    .language-content p, .language-content h2, .language-content h3 {
        width: 40%;
    }

    .language-content h2 {
        margin-top: 2%;
    }
}